<div class="text-center">
    <h1>Add todo</h1>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="enter a todo..." autofocus #todoText/>
        <br>
        <button (click)="addTodo(todoText)" class="btn btn-primary btn-block" >Create</button>
    </div>

</div>
<div>
    <div class="alart alert-info text-center" [hidden]="getTodos().length">
        <h3>No todos</h3>
    </div>

    <div *ngFor="let todo of getTodos(); let i = index">
        <div>
            <div class="col-md-1">
                <input type="checkbox" [checked]="todo.isCompleted" (click)="todo.isCompleted = !todo.isCompleted;updateTodo(todo)">
            </div>
            <div class="col-md-7">
                <span [hidden]="editMode === i" [style.text-decoration]="todo.isCompleted ? 'line-through' : 'none'" >{{todo.text}}</span>
                <div [hidden]="editMode !== i">
                    <input type="text" [(ngModel)]="todo.text"/>
                    <button class="btn btn-sm btn-sucess" (click)="updateTodo(todo)">Ok</button> 
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger btn-sm pull-right" (click)="removeTodo(i)" >Delete</button>&nbsp;
                <button class="btn btn-default btn-sm pull-right" (click)="editMode=i" [disabled]="todo.isCompleted">Edit</button>
            </div>
        </div>
        <br>
        <hr>
    </div>

</div>